

.titles {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-style: bold;
  font-size: 1rem;
  /*background-color: red;*/
}

.site-default {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  background-color: black;
}

p {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 0.75rem;
}

body {
  background-color: lightgrey;
}